<!DOCTYPE html>
<html lang="en" ng-app="facturaAlgarra">
<head>
	<meta charset="UTF-8">
	<title>Factura</title>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>
<body ng-controller="datosController as info">

<div ng-repeat="data in info.algarra">
	<button class="btn btn-info">{{data.name}}</button>
</div>

	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
